<div>
  <mat-card>
    <mat-card-actions>
      <button mat-button color="warn" (click)="onClick()">
        <mat-icon>note_add</mat-icon>
        Add file
      </button>
    </mat-card-actions>
    <mat-card-content>
      <ul>
        <li *ngFor='let file of files; index as index;'>
          <span id="file-label">
            {{file.name}}
          </span>
          <button mat-button (click)="selectFile(index)">
            <mat-icon class="mat-18">play_for_work</mat-icon>
          </button>
          <button mat-button (click)="removeFile(index)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept=".csv" style="display:none;" />

  <app-csv-table *ngIf="selectedFile" [file]="selectedFile"></app-csv-table>
</div>
